.footer {
  background-color: rgb(0, 162, 255);
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 48px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer__links {
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  border-left: solid;
  height: inherit;
  width: inherit;
}

.footer__links--bl-none {
  border-left: none;
}
