.footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 48px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: solid darkblue;
}

.footer__links {
  background-color: rgb(0, 162, 255);
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  border-left: solid black;
  height: inherit;
  width: inherit;
  border-top: none;
  border-bottom: none;
  border-right: none;
  cursor: pointer;
}

.footer__links--bl-none {
  border-left: none;
}

.footer__links--w {
  width: 40px;
}
